<form method="POST" action="/register" >
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="password" name="password_confirm">
    <input type="submit" value="register">
</form>

<!-- Login -->
<form method="POST" action="/login" >
    <!-- Login -->
    <input type="email" name="email">
    <input type="password" name="password">
</form>

<!-- Profile Update -->
<form method="POST" action="/profile" enctype="multipart/form-data">
    <!-- Profile Update -->
    <input type="text" name="firstname">
    <input type="text" name="lastname">
    <input type="file" name="avatar">
</form>
    
